<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="ufone" class="com.example.springio.Ufone"></bean>
    <bean id="zong" class="com.example.springio.Zong"></bean>
    <bean id="telenor" class="com.example.springio.Telenor"></bean>
</beans>